
.info-card {
    margin: 1rem 0;
    padding: 1rem 0 3rem 0;
}

.info-form {
    margin: 0.5rem;
}

.info-form .form-check {
    border: 1px solid #ccc;
    padding: 1rem 0.5rem;
    border-radius: var(--radius);
    display: flex;
    justify-content: space-between;
}

.info-form .form-check label {
    /*text-transform: capitalize;*/
}

.info-form .form-check input {
    display: flex;
    justify-self: center;
    align-self: center;
}

.border-card {
    transition: all 0.3s ease;
    border-radius: var(--radius);
}

.border-card:hover {
    box-shadow: var(--dark-shadow);
}

@media (max-width: 1200px) {
    .fieldset h1 {
        padding: 0 1.5rem;
    }
}
