.description {
    padding: 1rem;
    margin: 1rem;
}
.description p {
    text-indent: 30px;
}
@media (max-width: 480px) {
    .description {
        padding: 0.2rem;
        margin: 0.2rem;
    }
}
