body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
    --background: #ededed;
    --grey: #ccc;
    --primary: #326dee;

    --font-sm: .8rem;
    --font: 1rem;
    --font-lg: 1.2rem;

    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 5px;
    --transform: translate3d(0, -1px, 0);
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
